body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #1c1b1f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #e6e1e5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 1rem;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: solid 0.75px #3a3843;
}

.nav-brand > a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.brand-icon {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  color: #e6e1e5;
}

.nav-item-links {
  font-size: 1rem;
  text-decoration: none;
  color: #e6e1e5;
}

.nav-item-links:hover,
.brand-icon:hover {
  color: #70b5ff;
  transition: 300ms;
}

/* Pricing Header */
.section-header-pricing {
  padding: 1.5rem 0;
  margin: 1rem 7.5rem;
  text-align: center;
}

.section-header-pricing > h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.section-header-pricing > p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #bbb0b9;
  line-height: 160%;
}

/* Pricing Card */
.section-card-pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card {
  text-align: center;
  background-color: #2a2831;
  border: solid #3a3843 0.7px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  max-width: 300px;
}

.enterprise {
  border: solid 0.7px #0d6efd;
}

.title-card,
.card-content {
  padding: 1rem;
}

.title-card {
  border-bottom: solid 0.7px #524e5f;
}

.main-title-card {
  background-color: #0d6efd;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.card h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card span {
  font-size: 2rem;
  font-weight: 300;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.card-features {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;
}

.btn-card-pricing {
  border: none;
  width: 100%;
  padding: 16px 8px;
  border-radius: 20px;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.btn-card-pricing:hover {
  background-color: #115fd4;
  transition: 300ms;
}

.outline-btn {
  color: #0d6efd;
  border: solid 1px #0d6efd;
  background-color: transparent;
}

.outline-btn:hover {
  background-color: #0d6efd;
  color: #e6e1e5;
  transition: 300ms;
}

/* Compare Plans */
.section-compare-plans {
  text-align: center;
  margin-bottom: 3rem;
}

.section-compare-plans > h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.table-title {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid #5b5869 1px;
}

.table-content > p {
  font-weight: 600;
}

.table-title > .small {
  padding: 8px;
  flex-basis: 40%;
}

.table-title > .big {
  text-align: left;
  padding: 16px;
  flex-basis: 60%;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  border-top: solid #5b5869 1px;
  margin-bottom: 4rem;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 2;
}

.footer-brand > p {
  font-size: 0.875rem;
}

.icon-name-brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-items > a {
  text-decoration: none;
  color: #948e93;
}

.footer-items > a:hover {
  color: #e6e1e5;
  transition: 300ms;
}

.footer-items > h3 {
  margin-bottom: 4px;
}
